*.cmi
*.cmo
*.cmx
*.cmt
*.cmti
*.mlpack.d
*.o
*.ml4.d
*.cmxs
*.coq.bak
*.aux
*.glob
*.v.d
*.vo
*~
*.d
*.cmxa
*.a
*.conf
plugin/Makefile
plugin/.merlin
*.out
plugin/vfiles/testdebug.v
plugin/vfiles/testserver.v
plugin/.profile
plugin/.analytics_profile
plugin/make
